if paginate.hasPreviousPages || paginate.hasNextPages(page_count)
  .row
    .col
      nav(aria-label='navigation')
        ul.pagination
          if paginate.hasPreviousPages
            a.btn.btn-custom(href=paginate.href(true)).prev
              |  Previous
          if pages
            each page in pages
              a.btn.btn-custom(href=page.url)=page.number
            if page_count > 3
              span.dots='...'
          if paginate.hasNextPages(page_count)
              a.btn.btn-custom(href=paginate.href()).next
                | Next
